#container {
    position: relative;
    width: 600px;
    height: 600px;
}
.titulo{
    text-align: center;
}

.medida_X{
    text-align: center;
    font-size: 20px;
    margin-top: -26px;
}
.medida_Y {
    position: absolute;
    top: 48%;
    right: -125%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-size: 20px;
}
#lab {
    position: absolute;
    top: -5%;
    left: 28rem;
    width: 35rem;
    height: 43rem;
    border-radius: 10px;
    background-color: #ccc;
    transform: translate(-50%, -50%);
    transform: scale(0.9);
}

#rigth_tables1{
    position: absolute;
    top: 4%;
    left: 5%;
    width: 11rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#rigth_tables2{
    position: absolute;
    top: 26%;
    left: 5%;
    width: 11rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#rigth_tables3{
    position: absolute;
    top: 49%;
    left: 5%;
    width: 11rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#rigth_tables4{
    position: absolute;
    top: 71%;
    left: 5%;
    width: 11rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#left_tables1{
    position: absolute;
    top: 4%;
    right: 5%;
    width: 12rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#left_tables2{
    position: absolute;
    top: 23%;
    right: 5%;
    width: 12rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#left_tables3{
    position: absolute;
    top: 43%;
    right: 5%;
    width: 12rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#left_tables4{
    position: absolute;
    top: 63%;
    right: 5%;
    width: 12rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}
#left_tables5{
    position: absolute;
    top: 81%;
    right: 5%;
    width: 12rem;
    height: 3rem;
    background-color: #873e23;
    border-radius: 12px;
}

/* @keyframes moveUserAnimation {
    0% {
        left: 250px;
        top: 650px;
    }
    14.2857% {
        left: 413px;
        top: 600px;
    }
    28.5714% {
        left: 362px;
        top: 563px;
    }
    42.8571% {
        left: 300px;
        top: 452px;
    }
    57.1429% {
        left: 260px;
        top: 377px;
    }
    71.4286% {
        left: 280px;
        top: 280px;
    }
    85.7143% {
        left: 239px;
        top: 199px;
    }
    100% {
        left: 215px;
        top: 125px;
    }
} */
#user {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: moveUserAnimation 16s linear infinite;
    animation-delay: 2s;
}
